@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');

a {
    color: inherit;
    text-decoration: none;
    cursor: text;
}

* {
    padding: 0;
    margin: 7.5px;
    box-sizing: border-box;
    font-family: "Monomakh", system-ui;
    text-shadow: 1px 1px  #191919;
    color: #E6E8E6;
}

body {
    background-color: #E6E8E6;
}

body div, img {
    border-radius: 10px;
    
}

.er_box {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 35px;

    background-color:#3A6EA5;
    color: #E6E8E6;
    border-radius: 15px;
}

.er_box .er_box_to {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}



.container {
    width: auto;
    position: relative;

    display: flex;
    align-items: center;

    background-color: #191919;
    color: #E6E8E6;
    border-radius: 15px;
}

.container img {
    width: 99%;
    height: 742px;
    align-items: center;
    opacity: 1;
    transition: 3s;
}

.container .Closes:hover {
    opacity: 0.4;
    transition: 2s;
}

.container h1:hover .Closes {
    opacity: 0.4;
    transition: 2s;
}

.container .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px #E6E8E6;
    color: #191919;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.container .text h1 {
    font-size: 64px;
}

.container .text .button_box {
    background-color: #3A6EA5;
    border-radius: 50px;
    padding: 20px;
}



.big_box {
    display: flex;
    flex-direction: column;
    background-color: #553A41;
}

.big_box h1, s, h4 {
    text-shadow: 1px 1px #191919;
    color: #E6E8E6;
}

.katalogs {
    display: flex;
    flex-direction: row;
}

.bignt_box {
    display: flex;
    flex-direction: column;
    background-color: #BB7E8C;
    margin: 25px;
}

.big_box .neimore {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 50px;
}

#GLAP {
    margin-top: 40px;
}

.katalogs .bignt_box {
width: 24%;
}

.long{
    display: flex;
    flex-direction: row;
}

.bignt_box img, .bignt_box_to img {
    height: 30vh;
}



.main_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 35px;

    background-color:#3A6EA5;
    color: #E6E8E6;
    border-radius: 15px;
}


footer .er_box {
    flex-direction: column;
    align-items: normal;

}

footer .er_box .long {
justify-content: space-between
}




.katalogs_liels {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 1fr);
}

.bignt_box_to {
    display: flex;
    flex-direction: column;
    background-color: #BB7E8C;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 35px;

    background-color:#3A6EA5;
    color: #191919;
    border-radius: 15px;
    align-items: center;
}

.navbar .texi {
    color: #191919;
}


.search_bar {
    max-height: min-content;
}


.conttendo {
    margin-top: 0;
    right: 58px;
}

.Dropdown {
    display: inline-block;
}

.Dropdown button{
    background-color: #E6E8E6;
    color: #191919;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    border-radius: 5px;
}

.Dropdown a {
    display: block;
    color: #191919;
    text-decoration: none;
    padding: 10px 15px;
}

.Dropdown .conttendo {
    display: none;
    position: absolute;
    background-color: #E6E8E6;
    min-width: 200px;
    box-shadow: 2px 2px 5px #191919;
}

.Dropdown:hover .conttendo {
    display: block;
}

.Dropdown:hover button {
    background-color:  #E6E8E6;
}

.Dropdown a:hover {
    background-color:  #E6E8E6;
}

.sirch {
    width: 1300px;
    height: 60px;
    border-radius: 5px;
    margin-right: 0;
    padding-left: 20px;
}

.sirch_glas {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    margin-left: 0;
}